<html>
<head>
    <meta charset="utf-8">
    <title>简历</title>
</head>

<body background="../img/backk.png">

<table border="1" align="center" cellpadding="10" width="800">
    <tr>
        <th colspan="7" bgcolor="aqua" >我的个人简介</th>
    </tr>

    <tr>
        <th bgcolor="aqua">姓名:</th>
        <td> 魏伯繁</td>
        <th bgcolor="aqua">年龄:</th>
        <td>21</td>
        <th bgcolor="aqua">民族:</th>
        <td>汉</td>
        <td rowspan="3" width="60"<p><a href="https://www.so.com/s?ie=utf-8&shb=1&src=home_tab_image&q=%E4%BB%A3%E5%BA%94%E8%B1%AA"><img border="0" src="../img/wbf.png" />
    </a></p></td>
    </tr>

    <tr>
        <th bgcolor="aqua">出生日期:</th>
        <td>20011015</td>
        <th bgcolor="aqua">政治面貌:</th>
        <td>群众</td>
        <th bgcolor="aqua">学历:</th>
        <td>本科在读</td>
    </tr>

    <tr>
        <th bgcolor="aqua">专业:</th>
        <td>信息安全</td>
        <th bgcolor="aqua">毕业学校:</th>
        <td>南开</td>
        <th bgcolor="aqua">学号:</th>
        <td>2011395</td>
    </tr>

    <tr>
        <th bgcolor="aqua">爱好:</th>
        <td>运动</td>
        <th bgcolor="aqua">籍贯:</th>
        <td>北京</td>
        <th bgcolor="aqua">邮箱:</th>
        <td colspan="2"<p><a  href="mailto:182******@qq.com?subject=Hello%20again">SDF0733WBF@163.com </a></p></td>
    </tr>

    <tr>
        <th height="160" bgcolor="aqua">个人特长:</th>
        <td colspan="6">
            <p>喜欢打篮球、看电影</p>
            <p>喜欢有关计算机网络、数据库以及人工智能方面的知识学习</p>
            <p>欢迎大家和我多多交流~</p>
        </td>
    </tr>

    <tr>
        <th height="160" bgcolor="aqua"> 自我介绍:</th>
        <td colspan="6">
            <p>我是魏伯繁，今年是南开大学大三本科生</p>
            <p>我热爱学习，希望能够在南开大学收获知识</p>
            <p>欢迎大家和我多多交流</p>
    </tr>

    <tr>
        <th height="160" bgcolor="aqua">总结:</th>
        <td colspan="6">
            <p>热爱学习！好好学习天天向上！</p>
            <p>热爱运动！保持身体健康向上</p>
            <p>兴趣广泛！德智体美劳齐发展！</p>
            <p>www.baidu.com</p>
    </tr>
</table>
</body>

</html>